// Colors
$accent-color: #7d8e70;

$white-text-color: #fff;
$gray-text-color: #eee;
$dark-text-color: #333;

$white-bg-color: #fff;
$gray-bg-color: #555;
$dark-bg-color: #333;

// Shadows
$card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
$btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

// Breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

// Gaps
$card-gap: 30px;

// Animations
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// Переменные Нашего проекта

// // Fonts
// $main-font: 'Roboto', sans-serif;

// // Text Colors
// $movie-title-black-color: #000000;
// $genre-orange-title-color: #FF6B08;
// $white-text-color: #ffffff;
// $footer-grey-text-color: #545454;
// $modal-grey-title-color: #8C8C8C;
// $header-error-search-color: #FF001B;

// // Backgroung Color
// $primary-bg-color: #FFFFFF;
// $header-bg-color: rgba(0, 0, 0, 0.56);
// $footer-bg-color: #F7F7F7;
// $rating-bg-color: #FF6B01;
// $page-accent-bg-color: #FF6B08;
// $arrow-bg-color: #F7F7F7;

// // Additional elements
// $header-accent-page-line: #FF6B08;
// $arrow-color: #000000;
// $footer-heart-color: #FF6B08;
// $colse-modal-color: #000000;

// // Btn Color
// $btn-primary-color: rgba(0, 0, 0, 0.56);
// $btn-accent-color: #FF6B01;
// $btn-primary-modal-color: #FFFFFF;

// // Border
// $btn-main-border: 1px solid #FFFFFF;
// $btn-main-modal-border: 1px solid #000000;

// // Gap
// $list-gap: 30px;

// // Breakpoints
// $mobile: 320px;
// $tablet: 768px;
// $desktop: 1024px;
