<header class="page-header">
  <div class="container page-header__container">
    <!-- Logo -->
    <a
      class="logo"
      href="https://ru.wikipedia.org/wiki/JavaScript"
      target="_blank"
      rel="nofollow noreferrer"
    >
      <svg width="24" height="24">
        <use href="../images/film.svg"></use>
      </svg>
    </a>

    <!-- Theme switch -->
    <div class="theme-switch">
      <div class="theme-switch__control">
        <input
          class="theme-switch__toggle"
          id="themeSwitch"
          type="checkbox"
          name="theme"
          aria-label="Переключить между тёмной и светлой темой"
        />
        <label class="theme-switch__track" for="themeSwitch" aria-hidden="true"></label>
        <div class="theme-switch__marker" aria-hidden="true"></div>
      </div>
    </div>
  </div>
</header>
