<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team project</title>
  </head>
  <body>
    <!-- Page Header  -->
    <%= require('html-loader!./partials/page-header.html').default %>

    <main>
      <%= require('html-loader!./partials/search-form.html').default %>
      <!-- Buttons  -->
      <%= require('html-loader!./partials/buttons.html').default %>
      <!-- Page footer  -->
      <%= require('html-loader!./partials/footer.html').default %>
    </main>
  </body>
</html>
